*.o
# Development tools
devel-tools/
# Build system configuration
apisupport-config.h
cflags-filter.sh
cpusupport-config.h
posix-flags.sh
# compiled files
bench/bulk_extract/bulk_extract
bench/bulk_insert/bulk_insert
bench/bulk_update/bulk_update
bench/hotspot_read/hotspot_read
bench/mkpairs/mkpairs
bench/random_mixed/random_mixed
bench/random_read/random_read
bench/tokyo/tokyo
dynamodb-kv/dynamodb-kv
kvlds-dump/kvlds-dump
kvlds-undump/kvlds-undump
kvlds/kvlds
lbs-dynamodb-init/lbs-dynamodb-init
lbs-dynamodb/lbs-dynamodb
lbs-s3/lbs-s3
lbs/lbs
liball/liball.a
liball/optional_mutex_normal/liball_optional_mutex_normal.a
liball/optional_mutex_pthread/liball_optional_mutex_pthread.a
mux/mux
perf/perf
perftests/dynamodb_kv/test_dynamodb_kv
perftests/dynamodb_queue/test_dynamodb_queue
perftests/dynamodb_request/test_dynamodb_request
perftests/dynamodb_sign/dynamodb_sign
perftests/http/test_http
perftests/https/test_https
perftests/kvldsclean-ddbkv/test_kvldsclean
perftests/kvldsclean/test_kvldsclean
perftests/kvldsperf/test_kvldsperf
perftests/network-ssl/test_network_ssl
perftests/s3/test_s3
perftests/s3_put/s3_put
perftests/serverpool/test_serverpool
s3/s3
tests/kvlds-blocking/test_kvlds_blocking
tests/kvlds-ddbkv/test_kvlds
tests/kvlds-s3/test_kvlds
tests/kvlds/test_kvlds
tests/lbs/test_lbs
tests/msleep/msleep
tests/mux/test_mux
tests/onlinequantile/test_onlinequantile
tests/s3/test_s3
tests/valgrind/potential-memleaks
# test output
perftests/network-ssl/test_network_ssl_stderr.log
tests-output/
tests-valgrind/
# test output on FreeBSD
tests/*/*.debug
tests/*/*.full
tests/*/.depend
# python tests
tests/python/__pycache__
tests/python/kivaloo/__pycache__
