*.o
# Build system configuration
cpusupport-config.h
posix-flags.sh
# compiled files
bench/bulk_extract/bulk_extract
bench/bulk_insert/bulk_insert
bench/bulk_update/bulk_update
bench/hotspot_read/hotspot_read
bench/mkpairs/mkpairs
bench/random_mixed/random_mixed
bench/random_read/random_read
bench/tokyo/tokyo
dynamodb-kv/dynamodb-kv
kvlds/kvlds
kvlds-dump/kvlds-dump
kvlds-undump/kvlds-undump
lbs-dynamodb/lbs-dynamodb
lbs-s3/lbs-s3
lbs/lbs
mux/mux
perftests/dynamodb_kv/test_dynamodb_kv
perftests/dynamodb_request/test_dynamodb_request
perftests/dynamodb_sign/dynamodb_sign
perftests/dynamodb_queue/test_dynamodb_queue
perftests/http/test_http
perftests/https/test_https
perftests/kvldsclean/test_kvldsclean
perftests/kvldsclean-ddbkv/test_kvldsclean
perftests/kvldsperf/test_kvldsperf
perftests/network-ssl/test_network_ssl
perftests/s3/test_s3
perftests/s3_put/s3_put
perftests/serverpool/test_serverpool
s3/s3
tests/crc32/test_crc32
tests/heap/test_heap
tests/kvlds-blocking/test_kvlds_blocking
tests/kvlds-ddbkv/test_kvlds
tests/kvlds-s3/test_kvlds
tests/kvlds/test_kvlds
tests/lbs/test_lbs
tests/mux/test_mux
tests/s3/test_s3
# test output
perftests/network-ssl/test_network_ssl_stderr.log
# test output on FreeBSD
tests/*/.depend
tests/*/*.debug
tests/*/*.full
# python tests
tests/python/__pycache__
tests/python/kivaloo/__pycache__
